/* Services.css */

.services-page {
  height: 80vh;
  display: flex;
  flex-direction: column; /* Ensure it's a column layout */
  align-items: center;
  justify-content: center;
}

.projects-heading {
  text-align: center;
  margin-bottom: 20px;
}

.services-container {
  width: 90%;
  max-height: 70vh; /* Adjust the maximum height as needed */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 30%; /* Adjust width as needed */
  margin-bottom: 20px;
  border: 2px solid grey;
  border-radius: 15px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  
}

.card-content {
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
