.main {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.container {
  height: 95%;
  width: 95%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: bisque; */
}

.img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  /* border: 5px solid black; */
  cursor: pointer;
}

.nav {
  width: 60%;
  padding: 5px 1px;
  color: aliceblue;
}

.list {
  border-radius: 10px;
  padding: 18px 10px;
  background-color: #21373e;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}
